.slide-fade-enter-active,
.fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active,
.fade-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(14px);
  opacity: 0;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
